.container-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.anime-card {
    height: 330px;
    width: 185px;
    margin: 20px;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
}

.anime-card:hover{
    cursor: pointer;
    box-shadow: 2px 5px 14px rgba(0, 0, 0, 0.7);
    transition: all 0.1s ease-in;
}
.anime-image {
    height: 70%;
    width: 100%;
    margin-bottom: 20px;
}

.anime-name {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #343434;
    font-weight: 500;
}

.anime-name span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}